@if (User.Identity.IsAuthenticated) {
    <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right d-flex align-items-center">
        <span class="me-2">Hello @User.Identity.Name!</span>
        <button type="submit" class="btn btn-link navbar-link">Log off</button>
    </form>
} else {
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
