@model DWebProjetoFinal.Entities.Transaction

@{
    ViewData["Title"] = "Nova Transação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nova Transação</h1>

<div class="card p-4 mt-4">
    <form asp-action="NewTransaction" method="post">
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="TipoTransacao" class="form-label">Tipo de Transação</label>
                <select asp-for="TipoTransacao" class="form-select">
                    <option value="Receita">Receita</option>
                    <option value="Despesa">Despesa</option>
                </select>
            </div>

            <div class="col-md-3">
                <label asp-for="Categoria" class="form-label">Categoria</label>
                <input asp-for="Categoria" class="form-control" placeholder="Inserir" />
            </div>

            <div class="col-md-3">
                <label asp-for="Valor" class="form-label">Valor</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input asp-for="Valor" class="form-control" />
                </div>
            </div>

            <div class="col-md-3">
                <label asp-for="Descricao" class="form-label">Descrição (Opcional)</label>
                <input asp-for="Descricao" class="form-control" placeholder="Inserir" />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-3">
                <label asp-for="Data" class="form-label">Data</label>
                <input asp-for="Data" class="form-control" type="date" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-dark">Adicionar Transação</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
